<bal-heading level="medium">Chat</bal-heading>

<bal-stack layout="vertical" style="overflow-y: auto; height: 60vh;">
    <bal-card flat border="true" space="small" *ngIf="!messages || messages.length === 0">
        <bal-card-subtitle>No message received!</bal-card-subtitle>
    </bal-card>
    <bal-card flat border="true" space="small" *ngFor="let message of messages"
        [ngClass]="{'is-align-self-flex-end': message.user.name === currentUser}">
        <bal-card-subtitle>
            {{ message.timestamp.toLocaleString() }}
            <bal-tag [color]="message.user.color" [light]="message.user.name === currentUser" class="ml-small">
                {{ message.user.name }}
            </bal-tag>
        </bal-card-subtitle>
        <bal-card-content>{{ message.text }}</bal-card-content>
    </bal-card>
</bal-stack>

<bal-card class="mt-medium">
    <bal-card-content class="is-flex fg-small">
        <input [(ngModel)]="messageText" class="bal-input input" (keyup.enter)="sendMessage()" #chatMessageBox />
        <bal-button (click)="sendMessage()"><bal-icon name="send"></bal-icon></bal-button>
    </bal-card-content>
</bal-card>