<div class="columns checkin-flex">
    <bal-heading class="mt-xx-large" space="all">Check in</bal-heading>
    <div class="column is-one-third checkin-flex-column">
        <bal-card  class="checkin-form-card">
            <bal-card-content>
                <form [formGroup]="form">
                    <bal-input [invalid]="form.controls.username.invalid && form.controls.username.touched" formControlName="username" placeholder="Please pick a username"></bal-input>
                    <bal-input class="mt-small" type="password" [invalid]="form.controls.passcode.invalid && form.controls.passcode.touched" formControlName="passcode" placeholder="Enter room passcode"></bal-input>
                    <bal-button class="mt-medium" expanded="" (click)="onCheckIn()">Enter Board</bal-button>
                </form>
            </bal-card-content>
        </bal-card>
    </div>
</div>