<bal-app class="has-sticky-footer">
  <header>
    <!-- Header content -->
    <bal-navbar>
      <bal-navbar-brand></bal-navbar-brand>
    </bal-navbar>
  </header>
  <main class="container">
    <!-- Your application content -->
    <bal-heading space="all">Hello Websockets!</bal-heading>
    <bal-card *ngIf="stock.name">
      <bal-card-content>
        <div class="is-flex is-justify-content-center is-align-items-center">
          <img style="max-width: 88px" [src]="stock.icon" alt="Stock Logo" />
          <div class="is-flex-grow-1 px-x-small">
            <bal-heading title level="h4" space="none">
              {{ stock.name }} 
              <span [ngClass]="{'has-text-success': stock.increased, 'has-text-danger': !stock.increased}">
                {{ stock.increased ? "▲" : "▼" }}
              </span>
            </bal-heading>
            <p>
              Is trading a the price of CHF {{ stock.price }}
            </p>
          </div>
          <div><small>now</small></div>
        </div>
      </bal-card-content>
    </bal-card>
  </main>
  <bal-footer>
    <!-- Footer content -->
  </bal-footer>
</bal-app>
