.inventory-grid {
  display:flex;
  flex-wrap: wrap;
}
.inventory {
}
.inventory-add-button {
  width:50px;
  height:50px;
  border-radius:9px;
  background-color: white;
  margin:3px;
  box-shadow: 0 0 5px lightgray;
  display:flex;
  justify-content: center;
  align-items: center;
}