<bal-card class="inventory">
    <bal-card-title>
        Inventory {{inventory.owner}}
    </bal-card-title>
    <bal-card-content>
        <div class="inventory-grid" (drop)="onDrop($event)" (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)">
            <app-inventory-item [item]="item" [client]="client" (mouseenter)="onHoverOverItem(item)" (mouseleave)="onExitItem(item)" *ngFor="let item of inventory.items"></app-inventory-item>
            <div class="inventory-add-button">
                <bal-button square="" inverted="" icon="plus" (click)="onCreateNew()"></bal-button>
            </div>
            <div class="dropzone" *ngIf="dropzone" (drop)="onDropzoneDrop($event)" (dragenter)="onDropzoneDragEnter($event)" (dragover)="onDropzoneDragOver($event)" (dragleave)="onDragLeave($event)"></div>
        </div>
    </bal-card-content>
</bal-card>